<div class="page-content-wrapper">
	<div class="page-content">
		<!-- BEGIN PAGE HEAD -->
		<div class="page-head">
			<!-- BEGIN PAGE TITLE -->
			<div class="page-title">
				<h1>Orders <small>statistics &amp; reports</small></h1>
			</div>
			<!-- END PAGE TITLE -->
		</div>
		<!-- END PAGE HEAD -->
		<!-- BEGIN PAGE BREADCRUMB -->
		<ul class="page-breadcrumb breadcrumb hide">
			<li>
				<a href="#">Home</a><i class="fa fa-circle"></i>
			</li>
			<li class="active">
				 Users
			</li>
		</ul>
		<!-- END PAGE BREADCRUMB -->
		<!-- BEGIN PAGE CONTENT INNER -->
		<div class="row margin-top-10">
			<div class="col-md-6" >
				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption caption-md">
							<i class="icon-bar-chart theme-font-color hide"></i>
							<span class="caption-subject theme-font-color bold uppercase">Orders Completed</span>
							<span class="caption-helper hide">default</span>
						</div>
					</div>
				  	<div class="portlet-body">
				  		<div id="orders-completed" style="height: 250px;"></div>
				  	</div>
				</div>
			</div>
			<div class="col-md-6" >
				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption caption-md">
							<i class="icon-bar-chart theme-font-color hide"></i>
							<span class="caption-subject theme-font-color bold uppercase">Orders Completed per Appraiser</span>
							<span class="caption-helper hide">default</span>
						</div>
				  	</div>
				  	<div class="portlet-body">
				  		<div id="orders-completed-per-appraiser" style="height: 250px;"></div>
				  	</div>
				</div>
			</div>
		</div>
		<div class="row margin-top-10">
			<div class="col-md-12" >
				<div class="panel panel-default">
				  	<div class="panel-body">
					    <table id="orders-table" class="table table-hover dt-responsive" style="width: 100%">
							<!-- DataTable will be filled with user data -->
						</table>
				  	</div>
				  	<div class="panel-footer clearfix">
				  		<div class="pull-right" >
				  			<!-- <a class="btn btn-default" href="#" role="button">Compare</a> TODO-->
			  				<a class="btn btn-default" href="#" role="button" data-toggle="modal" data-target=".add-user-modal">Add New</a>
			  				<div class="modal fade add-user-modal" tabindex="-1" role="dialog" aria-labelledby="add-user-label" aria-hidden="true">
							  	<div class="modal-dialog modal-md">
							   		<div class="modal-content">
							      		<div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									        <h4 class="modal-title" id="add-order-label">Add Order</h4>
								      	</div>
								      	<div class="modal-body">
											<form id="reservation" class="form-horizontal">
										  		<div class="form-group">
										  			<div class="col-md-2">
									  					<label for="order-new-customer-name">Customer Name</label>
										  			</div>
													<div class="col-md-4">
														<input type="text" id="order-new-customer-name" class="form-control" style="width:100%;"/>
													</div>
													<div class="col-md-2">
									  					<label for="order-new-phone-number">Phone Number</label>
										  			</div>
													<div class="col-md-4">
														<input type="text" id="order-new-phone-number" class="form-control" style="width:100%;"/>
													</div>
										  		</div>
										  		<div class="form-group">
										  			<div class="col-md-2">
									  					<label for="order-new-email">Email</label>
										  			</div>
													<div class="col-md-4">
														<input type="text" id="order-new-email" class="form-control" style="width:100%;"/>
													</div>
													<div class="col-md-2">
									  					<label for="order-new-confirm-email">Confirm Email</label>
										  			</div>
													<div class="col-md-4">
														<input type="text" id="order-new-confirm-email" class="form-control" style="width:100%;"/>
													</div>
										  		</div>
										  		<div class="form-group">
										  			<div class="col-md-2">
									  					<label for="order-new-address-line-one">Address Line 1</label>
										  			</div>
													<div class="col-md-4">
														<input type="text" id="order-new-address-line-one" class="form-control" style="width:100%;"/>
													</div>
													<div class="col-md-2">
									  					<label for="order-new-address-line-two">Address Line 2</label>
										  			</div>
													<div class="col-md-4">
														<input type="text" id="order-new-address-line-two" class="form-control" style="width:100%;"/>
													</div>
										  		</div>
										  		<div class="form-group">
										  			<div class="col-md-2">
									  					<label for="order-new-city">City</label>
										  			</div>
													<div class="col-md-4">
														<input type="text" id="order-new-city" class="form-control"  style="width:100%;"/>
													</div>
													<div class="col-md-2">
									  					<label for="order-new-state">State</label>
										  			</div>
													<div class="col-md-4">
														<input type="text" id="order-new-state" class="form-control" style="width:100%;"/>
													</div>
										  		</div>
										  		<div class="form-group">
										  			<div class="col-md-2">
									  					<label for="order-new-zip">Zip</label>
										  			</div>
													<div class="col-md-4">
														<input type="text" id="order-new-zip" class="form-control" style="width:100%;"/>
													</div>
													<div class="col-md-2">
									  					<label for="order-new-notes">Notes</label>
										  			</div>
													<div class="col-md-4">
														<input type="text" id="order-new-notes" class="form-control" style="width:100%;"/>
													</div>
										  		</div>
									  		</form>
								      	</div>
								      	<div class="modal-footer">
								      		<a class="btn btn-default" href="#" role="button" onclick="document.getElementById('reservation').reset()" >
								      			Clear
								      		</a>
											<a class="btn btn-default" href="#" role="button" onclick="validateNewOrder()" >
												Create
											</a>
								      	</div>
							    	</div>
							  	</div>
							</div>
				  		</div>
				  	</div>
				</div>
			</div>
		</div>
		<!--END PAGE CONTENT INNER -->
	</div>
</div>